.TodoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  color: #fe6f74;
}

.TodoCounter--loading {
  opacity: 25%;
}

@media screen and (max-width: 480px) {
  .TodoCounter {
    font-size: 22px;
  }
}
