.TodoItem {
  background-color: #FAFAFA;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #fe6f74;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
}

.Icon-check {
  position: absolute;
  left: 12px;
  border-radius: 50%;
  background-color: var(--pink);
}
.Icon-check--active {
  color: #4caf50;
  background: none;
}

.Icon-delete {
  width: 32px;
  height: 32px;
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: 10px;
  background: #c4c4c4;
  border-radius: 50%;
  color: white;
  transform: translate(-10px, -50%);
}

.Icon-delete:hover {
  background: #e03333;
}

@media screen and (max-width: 480px) {
  .TodoItem-p {
    font-size: 16px;
  }
  .Icon {
    width: 40px;
    height: 40px;
  }
  .Icon-delete {
    width: 28px;
    height: 28px;
  }
}